.titleCardEsperience{
    font-size: 1.25rem;
    font-weight: bold;
}
.containerDataExperience {
    display: flex; /* Establece el contenedor principal para usar Flexbox */
    flex-wrap: wrap; /* Permite que los elementos se pasen a la línea siguiente si no hay espacio */
    justify-content: flex-end; /* Alinea los elementos desde la derecha hacia la izquierda */
    text-align: right; /* Alinea el texto a la derecha dentro de cada elemento */
}

.containerDataExperience > div {
    flex: 1 1 20%; /* Cada div tomará al menos el 20% del ancho del contenedor, pero puede crecer si hay espacio */
    margin: 10px; /* Añade un poco de margen entre los elementos */
}

.experienceDescriptionCard {
    flex-basis: 100%; /* Hace que el div de descripción ocupe el 100% del ancho disponible */
    text-align: left; /* Alinea el texto de la descripción a la izquierda */
}