@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-image: url('fondo.jpg');
    background-attachment: fixed; /* Hace que el fondo esté fijo */
    background-size: cover;      /* Asegura que cubra toda el área visible */
    background-position: center; /* Centra la imagen del fondo */
    min-height: 100vh;  
}
/* Pseudo-elemento para oscurecer el fondo */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
    z-index: -1; /* Asegura que el overlay esté detrás del contenido */
}
.app-content {
    position: relative;
    z-index: 10;
}
