/* Welcome.module.css */
.aboutBackground {
    background-color: black;
    background-size: cover;
    background-position: center;
}
#sectionAbout{
    min-width: 55vw;
}
.aboutMeCard{
    box-shadow: 30px 30px 10px rgba(0, 0, 0, 1.5);
}
